.onBoardingContainer {
  max-width: 95%;
  margin: 30px auto !important ;
  padding: 40px 30px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
}

.onBoardingLabel {
  font-weight: bold;
  float: left;
  padding: 10px;
}

.candidateBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.candidateBtn Button {
  background: #26d7ab;
  border-radius: 8px;
  border: none;
  padding: 7px 15px;
  color: #fff;
}


